<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>詳細選択画面</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="container">
    <h1>学問</h1>
    <div class="button-list">
      <button onclick="location.href='{{ url_for('list_page') }}?category=数学'">数学</button>
      <button onclick="location.href='{{ url_for('list_page') }}?category=物理'">物理</button>
      <button onclick="location.href='{{ url_for('list_page') }}?category=英語'">英語</button>
      <button onclick="location.href='{{ url_for('list_page') }}?category=プログラミング'">プログラミング</button>
    </div>
  </div>
</body>
</html>
